.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;

  .prime_banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: -1;
  }
  .home__row {
    display: flex;
  }
}
