.header {
  height: 60px;
  background: rgb(19, 19, 19);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 100;

  .header_logo {
    width: 100px;
    object-fit: contain;
    margin: 20px;
    margin-top: 35px;
  }

  .header_search {
    display: flex;
    align-items: center;
    border-radius: 24px;

    input {
      height: 21px;
      width: 30rem;
      outline: none;
    }
  }
  .header_searchIcon {
    background-color: #cd9042;
    height: 25px;
    border-radius: 1px;
  }
  .header_nav {
    display: flex;
    justify-content: space-between;

    .header__option {
      display: flex;
      flex-direction: column;
      color: white;
      margin: 0 15px;
    }

    .header__optionLineOne {
      font-size: 11px;
    }
    .header__optionLineTwo {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  .header__basketCount {
    margin: 0 10px;
  }
}
